body {
  background: black;
}

.ttgrid-container {
  margin-left: 1em;
  width: 24em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.ttgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.TT-tile {
  border: 1px solid black;
  background: black;
  background-image: url("https://randorufu.github.io/triad/CardBG.png");
  background-size: 100% 100%;
  height: 10em;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.material-symbols-outlined {
  margin-top: 0.2em;
  width: 8em;
}

#shufflebutton {
  text-decoration: none;
  background-color: black;
  color: black;
  border: none;
  border-radius: 0;
}

h1, h2, h3, p {
  color: #b3d9ff;
  font-family: sans-serif;
  margin: 0.25em;
}

h3 {
  margin-top: 0.5em;
}

#button-container {
  display: flex;
  flex-wrap: wrap;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  justify-content: center;
  align-content: center;
}

.rule-button {
  width: 6em;
  font-size: 1em;
  background-color: #00264d;
  color: #b3d9ff;
  border: 0.1em solid black;
  border-radius: 0.2em;
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  display: block;
}

.roulette {
  background-color: #001a33;
  color: #cce6ff;  
}

.rule-button-active {
  background-color: #0066cc;
  color: #cce6ff;
}

.rule-container {
  margin-left: 1em;
  width: 24em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

button:hover {
  cursor: pointer;
}
